In [3]:
! pip install gdown -q

In [1]:
import pandas as pd
import numpy as np

In [4]:
# Display settings
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.width', None) # Adjust display width

!gdown https://drive.google.com/uc?id=1esQmHJw2SW3q7nIk4GWJJOCYUqRKFLkR
df = pd.read_csv('/kaggle/working/Dataset_ previous values_gpbyID.csv')
df

Downloading...
From (original): https://drive.google.com/uc?id=1esQmHJw2SW3q7nIk4GWJJOCYUqRKFLkR
From (redirected): https://drive.google.com/uc?id=1esQmHJw2SW3q7nIk4GWJJOCYUqRKFLkR&confirm=t&uuid=1f7d16ae-b235-4d9e-8542-809906ec4ad1
To: /kaggle/working/Dataset_ previous values_gpbyID.csv
100%|████████████████████████████████████████| 260M/260M [00:02<00:00, 89.8MB/s]

,...1,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,FiO2,pH,PaCO2,SaO2,AST,BUN,Alkalinephos,Calcium,Chloride,Creatinine,Bilirubin_direct,Glucose,Lactate,Magnesium,Phosphate,Potassium,Bilirubin_total,TroponinI,Hct,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
0,0,0,65.0,100.0,35.78,129.0,72.0,69.0,16.5,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,1,0,17072
1,1,1,65.0,100.0,35.78,129.0,72.0,69.0,16.5,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,2,0,17072
2,2,2,78.0,100.0,35.78,129.0,42.5,69.0,16.5,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,3,0,17072
3,3,3,73.0,100.0,35.78,129.0,42.5,69.0,17.0,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,4,0,17072
4,4,4,70.0,100.0,35.78,129.0,74.0,69.0,14.0,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,5,0,17072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552205,21,21,83.0,99.0,36.10,121.0,77.0,54.0,22.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,112.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,22,0,113911
1552206,22,22,80.0,92.0,36.10,102.0,73.0,51.0,24.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,112.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,23,0,113911
1552207,23,23,95.0,97.0,36.70,128.5,83.0,58.5,25.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,163.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,24,0,113911
1552208,24,24,104.0,99.0,36.70,127.0,85.0,59.0,24.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,163.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,25,0,113911
1552209,25,25,94.5,99.0,36.70,112.0,81.0,56.0,22.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,163.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,26,0,113911

# Feature Engineering

## qSOFA

In [5]:
# Define a function to calculate the qSOFA score
def calculate_qsofa(row):
    score = 0
    score += (row['Resp'] >= 22)  # 1 point if respiratory rate >= 22/min
    score += (row['SBP'] <= 100)  # 1 point if systolic BP <= 100 mmHg
    # GCS is not provided, this condition is skipped
    return score

In [6]:
# Apply the function to calculate qSOFA score for each row
df['Incomplete_qSOFA_Score'] = df.apply(calculate_qsofa, axis=1)

## SOFA SCORE

In [7]:
class SOFAScoreCalculator:
    def __init__(self, row):
        self.row = row

    def respiratory_sofa(self, fio2, pao2):
        # Ensure FiO2 is not zero to avoid division by zero error
        fio2 = fio2 if fio2 != 0 else 1
        ratio = pao2 / fio2
        if ratio >= 400:
            return 0
        elif ratio < 400 and ratio >= 300:
            return 1
        elif ratio < 300 and ratio >= 200:
            return 2
        elif ratio < 200 and ratio >= 100:
            return 3
        else:
            return 4

    def cardiovascular_sofa(self, map):
        if map >= 70:
            return 0
        elif map < 70 and map >= 60:
            return 1
        elif map < 60 and map >= 50:
            return 2
        elif map < 50 and map >= 40:
            return 3
        else:
            return 4

    def liver_sofa(self, bilirubin_total):
        if bilirubin_total < 1.2:
            return 0
        elif bilirubin_total >= 1.2 and bilirubin_total < 2:
            return 1
        elif bilirubin_total >= 2 and bilirubin_total < 6:
            return 2
        elif bilirubin_total >= 6 and bilirubin_total < 12:
            return 3
        else:
            return 4

    def coagulation_sofa(self, platelets):
        if platelets >= 150:
            return 0
        elif platelets < 150 and platelets >= 100:
            return 1
        elif platelets < 100 and platelets >= 50:
            return 2
        elif platelets < 50 and platelets >= 20:
            return 3
        else:
            return 4

    def renal_sofa(self, creatinine):
        if creatinine < 1.2:
            return 0
        elif creatinine >= 1.2 and creatinine < 2:
            return 1
        elif creatinine >= 2 and creatinine < 3.5:
            return 2
        elif creatinine >= 3.5 and creatinine < 5:
            return 3
        else:
            return 4

    def calculate_sofa(self):
        resp_score = self.respiratory_sofa(self.row['FiO2'], self.row['SaO2'])
        cv_score = self.cardiovascular_sofa(self.row['MAP'])
        liver_score = self.liver_sofa(self.row['Bilirubin_total'])
        coagulation_score = self.coagulation_sofa(self.row['Platelets'])
        renal_score = self.renal_sofa(self.row['Creatinine'])
        return resp_score + cv_score + liver_score + coagulation_score + renal_score

In [8]:
# Example of using the class
df['SOFA_Score'] = df.apply(lambda row: SOFAScoreCalculator(row).calculate_sofa(), axis=1)

## SIRS

In [10]:
class SIRSCalculator:
    def __init__(self, row):
        self.row = row


    def sirs_criteria(self):
        criteria_met = 0
        # Body temperature criterion
        if self.row['Temp'] < 36 or self.row['Temp'] > 38:
            criteria_met += 1
        # Heart rate criterion
        if self.row['HR'] > 90:
            criteria_met += 1
        # Tachypnea criterion
        if self.row['Resp'] > 20 and (self.row['PaCO2'] <= 33 or ((self.row['MAP'] * self.row['FiO2']) / self.row['SaO2']) < 200):
            criteria_met += 1
        # WBC count criterion
        if self.row['WBC'] < 4 or self.row['WBC'] > 12:
            criteria_met += 1
        return 1 if criteria_met >= 2 else 0

In [11]:
df['SIRS'] = df.apply(lambda row: SIRSCalculator(row).sirs_criteria(), axis=1)

## NEWS Score

In [12]:
def calculate_NEWS(row):
    score = 0
    # Respiration Rate ('Resp')
    if row['Resp'] < 8 or row['Resp'] > 24:
        score += 3
    elif 8 <= row['Resp'] <= 11 or 21 <= row['Resp'] <= 24:
        score += 1

    # Oxygen Saturation ('O2Sat')
    if row['O2Sat'] < 90:  # Assuming need for supplemental oxygen if < 90%
        score += 3
    elif row['O2Sat'] < 92:
        score += 2

    # Systolic Blood Pressure ('SBP')
    if row['SBP'] < 90:  # Assuming MAP < 65 mmHg if SBP < 90 mmHg
        score += 3
    elif 90 <= row['SBP'] <= 100:
        score += 1

    # Pulse Rate ('HR')
    if row['HR'] < 40 or row['HR'] > 130:
        score += 3
    elif 41 <= row['HR'] <= 50 or 91 <= row['HR'] <= 110:
        score += 1

    # Temperature ('Temp')
    if row['Temp'] < 35 or row['Temp'] > 39:
        score += 1

    return score

In [13]:
 #Apply the NEWS score calculation to each row
df['NEWS_Score'] = df.apply(calculate_NEWS, axis=1)

## APACHE II Score

In [14]:

def calculate_apache_ii_score(row):
    score = 0
    
    # Age scoring
    age = row['Age']
    if age <= 44:
        score += 0
    elif 45 <= age <= 54:
        score += 2
    elif 55 <= age <= 64:
        score += 3
    elif 65 <= age <= 74:
        score += 5
    else:
        score += 6

    # Temperature scoring
    temp = row['Temp']
    if temp >= 41:
        score += 4
    elif 39 <= temp < 41:
        score += 3
    elif 38.5 <= temp < 39:
        score += 1
    elif 36 <= temp < 38.5:
        score += 0
    elif 34 <= temp < 36:
        score += 1
    elif 32 <= temp < 34:
        score += 2
    elif 30 <= temp < 32:
        score += 3
    else:
        score += 4
    
    # MAP scoring
    map = row['MAP']
    if map > 159:
        score += 4
    elif 130 <= map <= 159:
        score += 3
    elif 110 <= map <= 129:
        score += 2
    elif 70 <= map <= 109:
        score += 0
    elif 50 <= map <= 69:
        score += 2
    else:
        score += 4
    
    # Heart rate scoring
    hr = row['HR']
    if hr >= 180:
        score += 4
    elif 140 <= hr < 180:
        score += 3
    elif 110 <= hr < 140:
        score += 2
    elif 70 <= hr < 110:
        score += 0
    elif 55 <= hr < 70:
        score += 2
    elif 40 <= hr < 55:
        score += 3
    else:
        score += 4
    
    # Respiratory rate scoring
    resp = row['Resp']
    if resp >= 50:
        score += 4
    elif 35 <= resp < 50:
        score += 3
    elif 25 <= resp < 35:
        score += 1
    elif 12 <= resp < 25:
        score += 0
    elif 10 <= resp < 12:
        score += 1
    elif 6 <= resp < 10:
        score += 2
    else:
        score += 4

    # Oxygenation scoring - requires FiO2 and either PaO2 or SaO2
    # This part is a bit tricky because the scoring depends on the PaO2/FiO2 ratio or SaO2
    # For simplicity, I'm assuming will use PaO2 and FiO2 to calculate the ratio
    fio2 = row['FiO2'] if row['FiO2'] != 0 else 1  # Prevent division by zero
    pao2 = row['SaO2']  
    ratio = pao2 / fio2
    if ratio >= 400:
        score += 0
    elif 300 <= ratio < 400:
        score += 1
    elif 200 <= ratio < 300:
        score += 2
    elif 100 <= ratio < 200:
        score += 3
    else:
        score += 4
    
    # Arterial pH scoring
    ph = row['pH']
    if ph >= 7.7:
        score += 4
    elif 7.6 <= ph < 7.7:
        score += 3
    elif 7.5 <= ph < 7.6:
        score += 1
    elif 7.33 <= ph < 7.5:
        score += 0
    elif 7.25 <= ph < 7.33:
        score += 2
    elif 7.15 <= ph < 7.25:
        score += 3
    else:
        score += 4
    
  
    
    # Serum potassium scoring
    potassium = row['Potassium']
    if potassium >= 7.0:
        score += 4
    elif 6.0 <= potassium < 7.0:
        score += 3
    elif 5.5 <= potassium < 6.0:
        score += 1
    elif 3.5 <= potassium < 5.5:
        score += 0
    elif 3.0 <= potassium < 3.5:
        score += 1
    elif 2.5 <= potassium < 3.0:
        score += 2
    else:
        score += 4
    
    # Serum creatinine scoring
    creatinine = row['Creatinine']
    if creatinine >= 3.5:
        score += 4
    elif 2.0 <= creatinine < 3.5:
        score += 2  # Note: the criteria might have been duplicated; adjusting based on standard Apache II scoring
    elif 1.5 <= creatinine < 2.0:
        score += 1
    elif 0.6 <= creatinine < 1.5:
        score += 0
    else:
        score += 2
    
    # Hematocrit scoring
    hct = row['Hct']
    if hct >= 60:
        score += 4
    elif 50 <= hct < 60:
        score += 2
    elif 46 <= hct < 50:
        score += 1
    elif 30 <= hct < 46:
        score += 0
    elif 20 <= hct < 30:
        score += 2
    else:
        score += 4
    
    # White blood cell count scoring
    wbc = row['WBC']
    if wbc >= 40:
        score += 4
    elif 20 <= wbc < 40:
        score += 2
    elif 15 <= wbc < 20:
        score += 1
    elif 3 <= wbc < 15:
        score += 0
    elif 1 <= wbc < 3:
        score += 2
    else:
        score += 4
    
    return score

In [15]:
# To apply this function and create a new column 'Apache_II_Score' in the DataFrame:
df['Apache_II_Score'] = df.apply(calculate_apache_ii_score, axis=1)

## Calculating BUN/creatine ration

In [16]:

# Calculate BUN/Creatinine ratio and add as a new column
df['BUN_Creatinine_Ratio'] = df['BUN'] / df['Creatinine']

## Shcock index and Bilirubin creatinine ratio

In [17]:
# Calculate the Shock Index: Heart Rate / Systolic Blood Pressure
df['Shock_Index'] = df['HR'] / df['SBP']

# Calculate the ratio of Bilirubin to Creatinine
df['Bilirubin_Creatinine_Ratio'] = df['Bilirubin_total'] / df['Creatinine']

## Define start time

In [20]:

# Define the start time
start_time = pd.Timestamp('2019-01-01 01:00:00')

# Convert 'hour' to datetime for the first 1000 rows
for patient_id, group in df.head(1000).groupby('Patient_ID'):
    # Calculate the datetime based on the 'hour' value
    group['datetime'] = start_time + pd.to_timedelta(group['Hour'], unit='h')
    
    # Update the DataFrame with the converted datetime
    df.loc[group.index, 'datetime'] = group['datetime']

In [21]:
df

,...1,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,FiO2,pH,PaCO2,SaO2,AST,BUN,Alkalinephos,Calcium,Chloride,Creatinine,Bilirubin_direct,Glucose,Lactate,Magnesium,Phosphate,Potassium,Bilirubin_total,TroponinI,Hct,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID,Incomplete_qSOFA_Score,SOFA_Score,SIRS,NEWS_Score,Apache_II_Score,BUN_Creatinine_Ratio,Shock_Index,Bilirubin_Creatinine_Ratio,datetime
0,0,0,65.0,100.0,35.78,129.0,72.0,69.0,16.5,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,1,0,17072,0,2,0,0,16,28.750000,0.503876,0.875000,2019-01-01 01:00:00
1,1,1,65.0,100.0,35.78,129.0,72.0,69.0,16.5,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,2,0,17072,0,2,0,0,16,28.750000,0.503876,0.875000,2019-01-01 02:00:00
2,2,2,78.0,100.0,35.78,129.0,42.5,69.0,16.5,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,3,0,17072,0,5,0,0,18,28.750000,0.604651,0.875000,2019-01-01 03:00:00
3,3,3,73.0,100.0,35.78,129.0,42.5,69.0,17.0,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,4,0,17072,0,5,0,0,18,28.750000,0.565891,0.875000,2019-01-01 04:00:00
4,4,4,70.0,100.0,35.78,129.0,74.0,69.0,14.0,34.0,6.0,26.0,0.40,7.61,27.0,98.0,29.0,23.0,152.0,9.6,104.0,0.80,2.6,161.0,1.90,1.6,2.1,3.2,0.7,0.50,29.7,9.5,30.6,11.3,716.0,330.0,68.54,0,NaN,NaN,-0.02,5,0,17072,0,2,0,0,14,28.750000,0.542636,0.875000,2019-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552205,21,21,83.0,99.0,36.10,121.0,77.0,54.0,22.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,112.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,22,0,113911,1,2,0,1,10,45.945946,0.685950,1.891892,NaT
1552206,22,22,80.0,92.0,36.10,102.0,73.0,51.0,24.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,112.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,23,0,113911,1,2,0,1,10,45.945946,0.784314,1.891892,NaT
1552207,23,23,95.0,97.0,36.70,128.5,83.0,58.5,25.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,163.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,24,0,113911,1,2,1,4,11,45.945946,0.739300,1.891892,NaT
1552208,24,24,104.0,99.0,36.70,127.0,85.0,59.0,24.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,163.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,25,0,113911,1,2,1,2,10,45.945946,0.818898,1.891892,NaT
1552209,25,25,94.5,99.0,36.70,112.0,81.0,56.0,22.0,42.0,3.3,28.5,0.32,7.36,50.0,95.6,27.0,17.0,38.0,9.2,98.0,0.37,0.2,163.0,1.16,2.3,3.5,4.5,0.7,0.01,33.8,10.3,29.7,5.7,366.0,260.0,88.00,0,1.0,0.0,-2.93,26,0,113911,1,2,1,2,10,45.945946,0.843750,1.891892,NaT

In [22]:
df.to_csv('/kaggle/working/Dataset_ previous values_gpbyID+NoShift+F.Engv3.0.csv')